@page "{referencia}"
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@inject IConfiguration Configuration
@{
    Layout = "_Layout";
}
<div class="nk-content-body">
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 class="title nk-block-title">Registro Salario por Empleado</h4>
                </div>
            </div>

            <form action="#" class="form-validate is-alter" autocomplete="off" novalidate="novalidate">
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <div class="preview-block">
                            <span class="preview-title-lg overline-title">Capture la información de salario.</span>
                            <div class="row gy-4">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-user"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="outlined-normal">
                                            <label class="form-label-outlined" for="outlined-normal">ID Empleado</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-user"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="outlined-normal">
                                            <label class="form-label-outlined" for="outlined-normal">Salario</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-calendar-alt"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined date-picker" id="outlined-date-picker">
                                            <label class="form-label-outlined" for="outlined-date-picker">Fecha Contratación</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block">Registrar</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- .card-preview -->
            </form>
        </div><!-- .nk-block -->


    </div><!-- .components-preview -->
</div>
