@page "{referencia}"
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@inject IConfiguration Configuration
@{
    Layout = "_Layout";
}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between g-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Rinku Nómina / <strong class="text-primary small">Diana Gissel B.</strong></h3>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered">
            <div class="card-aside-wrap">
                <div class="card-content">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><em class="icon ni ni-user-circle"></em><span>Personal</span></a>
                        </li>
                    </ul><!-- .nav-tabs -->
                    <div class="card-inner">
                        <div class="nk-block">
                            <div class="nk-block-head">
                                <h5 class="title">Información Personal</h5>
                            </div><!-- .nk-block-head -->
                            <div class="profile-ud-list">
                                <div class="profile-ud-item">
                                    <div class="profile-ud wider">
                                        <span class="profile-ud-label">Licenciatura:</span>
                                        <span class="profile-ud-value">Ingeniera Administradora de Sistemas</span>
                                    </div>
                                </div>
                                <div class="profile-ud-item">
                                    <div class="profile-ud wider">
                                        <span class="profile-ud-label">Universidad:</span>
                                        <span class="profile-ud-value">Facultad de Ingeniería Mecánica Y Electrica UANL</span>
                                    </div>
                                </div>
                                <div class="profile-ud-item">
                                    <div class="profile-ud wider">
                                        <span class="profile-ud-label">Periodo Estudio:</span>
                                        <span class="profile-ud-value">Enero 2018 - Diciembre 2021</span>
                                    </div>
                                </div>
                                <div class="profile-ud-item">
                                    <div class="profile-ud wider">
                                        <span class="profile-ud-label">Email</span>
                                        <span class="profile-ud-value">diana.axl.gnr@gmail.com</span>
                                    </div>
                                </div>
                            </div><!-- .profile-ud-list -->
                        </div><!-- .nk-block -->
                        <div class="nk-block">
                            <div class="nk-block-head nk-block-head-line">
                                <h6 class="title overline-title text-base">Portafolio / Experiencia Laboral</h6>
                            </div><!-- .nk-block-head -->
                            <div class="profile-ud-list">
                                <div class="profile-ud-item">
                                    <div class="profile-ud wider">
                                        <span class="profile-ud-label">GitHub:</span>
                                        <a href="https://github.com/anassui" target="_blank" class="profile-ud-value">https://github.com/anassui</a>
                                    </div>
                                </div>
                                <div class="profile-ud-item">
                                    <div class="profile-ud wider">
                                        <span class="profile-ud-label">Experiencia Laboral</span>
                                        <span class="profile-ud-value">Desarrolladora .NET 2020-2022</span>
                                    </div>
                                </div>
                            </div><!-- .profile-ud-list -->
                        </div><!-- .nk-block -->
                        <div class="nk-divider divider md"></div>
                    </div><!-- .card-inner -->
                </div><!-- .card-content -->
                <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl toggle-screen-xxl" data-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="true" data-toggle-body="true">
                    <div class="card-inner-group" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                        <div class="simplebar-content" style="padding: 0px;">
                                            <div class="card-inner">
                                                <div class="user-card user-card-s2">
                                                    <div class="user-avatar lg bg-primary">
                                                        <span>AB</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <div class="badge bg-outline-light rounded-pill ucap">Investor</div>
                                                        <h5>Abu Bin Ishtiyak</h5>
                                                        <span class="sub-text">info@softnio.com</span>
                                                    </div>
                                                </div>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner card-inner-sm">
                                                <ul class="btn-toolbar justify-center gx-1">
                                                    <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-shield-off"></em></a></li>
                                                    <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-mail"></em></a></li>
                                                    <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-download-cloud"></em></a></li>
                                                    <li><a href="#" class="btn btn-trigger btn-icon"><em class="icon ni ni-bookmark"></em></a></li>
                                                    <li><a href="#" class="btn btn-trigger btn-icon text-danger"><em class="icon ni ni-na"></em></a></li>
                                                </ul>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner">
                                                <div class="overline-title-alt mb-2">In Account</div>
                                                <div class="profile-balance">
                                                    <div class="profile-balance-group gx-4">
                                                        <div class="profile-balance-sub">
                                                            <div class="profile-balance-amount">
                                                                <div class="number">2,500.00 <small class="currency currency-usd">USD</small></div>
                                                            </div>
                                                            <div class="profile-balance-subtitle">Invested Amount</div>
                                                        </div>
                                                        <div class="profile-balance-sub">
                                                            <span class="profile-balance-plus text-soft"><em class="icon ni ni-plus"></em></span>
                                                            <div class="profile-balance-amount">
                                                                <div class="number">1,643.76</div>
                                                            </div>
                                                            <div class="profile-balance-subtitle">Profit Earned</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner">
                                                <div class="row text-center">
                                                    <div class="col-4">
                                                        <div class="profile-stats">
                                                            <span class="amount">23</span>
                                                            <span class="sub-text">Total Order</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="profile-stats">
                                                            <span class="amount">20</span>
                                                            <span class="sub-text">Complete</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="profile-stats">
                                                            <span class="amount">3</span>
                                                            <span class="sub-text">Progress</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner">
                                                <h6 class="overline-title-alt mb-2">Additional</h6>
                                                <div class="row g-3">
                                                    <div class="col-6">
                                                        <span class="sub-text">User ID:</span>
                                                        <span>UD003054</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="sub-text">Last Login:</span>
                                                        <span>15 Feb, 2019 01:02 PM</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="sub-text">KYC Status:</span>
                                                        <span class="lead-text text-success">Approved</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="sub-text">Register At:</span>
                                                        <span>Nov 24, 2019</span>
                                                    </div>
                                                </div>
                                            </div><!-- .card-inner -->
                                            <div class="card-inner">
                                                <h6 class="overline-title-alt mb-3">Groups</h6>
                                                <ul class="g-1">
                                                    <li class="btn-group">
                                                        <a class="btn btn-xs btn-light btn-dim" href="#">investor</a>
                                                        <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                    </li>
                                                    <li class="btn-group">
                                                        <a class="btn btn-xs btn-light btn-dim" href="#">support</a>
                                                        <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                    </li>
                                                    <li class="btn-group">
                                                        <a class="btn btn-xs btn-light btn-dim" href="#">another tag</a>
                                                        <a class="btn btn-xs btn-icon btn-light btn-dim" href="#"><em class="icon ni ni-cross"></em></a>
                                                    </li>
                                                </ul>
                                            </div><!-- .card-inner -->
                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: auto; height: 819px;"></div>
                        </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div></div>
                    </div><!-- .card-inner -->
                </div><!-- .card-aside -->
            </div><!-- .card-aside-wrap -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
</div>